body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-color {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
input {
  padding: 10px;
}

button {
  background-color: rgb(8, 19, 25);
  color: white;
  padding: 9px 10px;
  border-radius: 2px;
  box-shadow: aliceblue;
  cursor: pointer;
}
